.faq {
    margin: 40px 10px 0;
    &__title {
        @include font(Epilogue, normal, 700, 22px, 23px, #111563);
        text-align: center;
    }
    &__container {
        margin-top: 10px;
        .container__info {
            width: 300px;
            margin-top: 20px;
            padding: 20px;
            background: #ffffff;
            box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
            border: none;
            border-radius: 8px;
            outline: none;
            box-sizing: border-box;
            .info__inner {
                display: flex;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;
                .info__quest {
                    width: 232px;
                    @include font(Epilogue, normal, 700, 18px, 18px, #111563);
                }
            }
            .info__answ {
                margin-top: 10px;
                @include font(Open Sans, normal, 400, 16px, 24px, #63718e);
            }
        }
        .container__info > hr {
            margin-top: 10px;
            border: 1px solid #f0f4fd;
        }
        &--but {
            margin-top: 30px;
            display: flex;
            justify-content: center;
        }
    }
    &__but {
        width: 181px;
        height: 62px;
        padding: 18px 22px;
        @include font(Open Sans, normal, 700, 20px, 20px, #ffffff);
        background: #c774ee;
        border: none;
        border-radius: 10px;
        outline: none;
        cursor: pointer;
    }
}
