footer {
    background: #1c1e1f;
    .footer {
        margin: 60px 10px 0;
        &__links {
            padding-top: 20px;
            &__list {
                height: 140px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                &__item {
                    margin-top: 15px;
                    margin-right: 105px;
                }
                &__item > a {
                    @include font(Roboto, normal, 400, 16px, 19px, #7e8183);
                    text-decoration: none;
                }
            }
        }
    }
}
