footer {
    background: #1c1e1f;
    .footer {
        margin: 60px 10px 0;
        &__links {
            padding-top: 20px;
            &__list {
                height: 140px;
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                &__item {
                    margin-top: 15px;
                    margin-right: 105px;
                }
                &__item > a {
                    @include font(Roboto, normal, 400, 16px, 19px, #7e8183);
                    text-decoration: none;
                }
            }
        }
        &__call {
            margin-top: 35px;
        }
        &__call > a,
        &__call > p {
            @include font(Roboto, normal, 400, 16px, 19px, #7e8183);
            text-decoration: none;
        }
        &__call > a > b {
            @include font(Roboto, normal, 700, 16px, 19px, #7e8183);
        }
        &__call > p {
            margin-top: 5px;
        }
        &__rate {
            margin-top: 20px;
            display: flex;
            align-items: center;
        }
        &__rate > img {
            margin-right: 5px;
        }
        &__rate > span {
            margin-left: 10px;
            @include font(Open Sans, normal, 400, 16px, 16px, #c774ee);
        }
        &__info {
            width: 105px;
            margin-top: 20px;
            &__btn {
                width: 105px;
                height: 35px;
                border: 2px solid #7e8183;
                box-sizing: border-box;
                border-radius: 28px;
                background: #1c1e1f;
                outline: none;
                @include font(Roboto, normal, 400, 16px, 19px, #7e8183);
                cursor: pointer;
            }
            &__btn::after {
                content: url("../assets/img/icons/arrow-down-foot.svg");
                margin-left: 15px;
            }
            &__content {
                box-sizing: border-box;
                border-radius: 5px;
                background: #1c1e1f;
            }
            &__link {
                padding: 10px;
                display: block;
                @include font(Roboto, normal, 400, 16px, 19px, #7e8183);
                text-decoration: none;
            }
            &__link:hover {
                color: #ffffff;
                transition: 0.2s;
            }
        }
        &__info:hover .dropdown-content {
            display: block;
        }
        &__soc {
            margin-top: 40px;
            display: flex;
            align-items: center;
            &__link {
                width: 36px;
                height: 36px;
                margin-right: 10px;
                display: block;
                border-radius: 6px;
                opacity: 0.2;
                &--facebook {
                    background: url("../assets/img/icons/facebook.svg");
                }
                &--insta {
                    background-image: url("../assets/img/icons/insta.svg");
                }
                &--youtube {
                    background-image: url("../assets/img/icons/youtube.svg");
                }
                &--pinterest {
                    background-image: url("../assets/img/icons/pinterest.svg");
                }
            }
            &__link:hover {
                opacity: 1;
                transition: 0.2s;
            }
        }
        &__cards,
        &__sec {
            margin-top: 30px;
        }
        &__cards > img {
            margin-right: 10px;
        }
        &__cop {
            margin-top: 40px;
            @include font(Roboto, normal, 400, 14px, 20px, #3a3a3a);
        }
    }
}
