header {
    height: 70px;
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
    .header {
        height: 100%;
        margin: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__logo {
            width: 115px;
        }
        .nav {
            cursor: pointer;
            &__line {
                width: 30px;
                height: 3px;
                margin: 3px 0;
                background: #63718E;
                border-radius: 5px;
            }
        }
    }
}
