header {
    box-shadow: 0px 2px 16px rgba(32, 108, 164, 0.16);
    .header {
        position: relative;
        &__main {
            height: 70px;
            margin: 0 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__logo {
            width: 115px;
        }
        &__nav--desk {
            display: none;
        }
        &__nav--burger {
            .burger {
                cursor: pointer;
                &__line {
                    width: 30px;
                    height: 3px;
                    margin: 3px 0;
                    background: #63718e;
                    border-radius: 5px;
                }
            }
        }
        &__modal {
            width: 0;
            height: 100%;
            position: fixed;
            top: 0;
            transition: 0.2s width;
            background: #111563;
            z-index: 2;
            &__close {
                display: flex;
                justify-content: flex-end;
            }
            &__but {
                margin: 20px 10px;
                background: none;
                border: none;
                outline: none;
                font-size: 26px;
                color: #ffffff;
                cursor: pointer;
            }
            &__list {
                margin: 20px 20px 0;
                display: none;
                flex-direction: column;
                align-items: flex-end;
                &__item {
                    margin-top: 20px;
                }
                &__item:last-of-type {
                    margin-top: 60px;
                }
            }
            &__link {
                @include font(Roboto, normal, 400, 16px, 19px, #7e8183);
                text-decoration: none;
            }
            &__link:hover {
                color: #c774ee;
                transition: 0.2s;
            }
        }
    }
}
