.headphones {
    margin: 50px 10px 0;
    &__info {
        margin-top: 20px;
    }
    &__title {
        @include font(Epilogue, normal, 700, 22px, 23px, #111563);
    }
    &__list {
        margin-top: 20px;
        margin-left: 30px;
        list-style-image: url(../assets/img/icons/el.svg);
        &__item {
            padding-top: 20px;
            padding-left: 20px;
            @include font(Open Sans, normal, 400, 18px, 27px, #63718e);
        }
        &__item::marker {
            font-size: 22px;
            line-height: 10px;
            color: #111563;
        }
    }
}
