.pin {
    margin: 70px 10px 0;
    &__title {
        @include font(Epilogue, normal, 700, 22px, 23px, #111563);
    }
    &__descript {
        margin-top: 10px;
        @include font(Open Sans, normal, 400, 16px, 24px, #63718e);
    }
    &__frame {
        margin-top: 15px;
    }
}