.pin {
    margin: 70px 10px 0;
    &__title {
        @include font(Epilogue, normal, 700, 22px, 23px, #111563);
    }
    &__descript {
        margin-top: 10px;
        @include font(Open Sans, normal, 400, 16px, 24px, #63718e);
    }
    &__frame {
        margin-top: 15px;
    }
    &__cont {
        margin-top: 20px;
    }
    &__menu {
        &__list {
            width: 325px;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        &__link {
            margin-right: 15px;
            @include font(Open Sans, normal, normal, 14px, 21px, #63718e);
            cursor: pointer;
        }
    }
    &__info {
        margin-top: 15px;
        &__item {
            display: none;
            @include font(Open Sans, normal, normal, 16px, 24px, #63718e);
            visibility: hidden;
            opacity: 0;
            transition: all 0.2s ease-in-out;
        }
    }
}
