.pin {
    margin-top: 70px;
    &__title {
        @include font(Epilogue, normal, 700, 22px, 23px, #111563);
    }
    &__descript {
        margin-top: 10px;
        @include font(Open Sans, normal, 400, 16px, 24px, #63718e);
    }
    &__frame {
        margin-top: 15px;
    }
    &__cont {
        margin-top: 20px;
    }
    &__menu {
        &__list {
            display: flex;
            flex-wrap: nowrap;
            overflow-x: auto;
            align-items: baseline;
            -webkit-overflow-scrolling: touch;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        &__link {
            flex: 0 0 auto;
            margin-right: 15px;
            @include font(Open Sans, normal, normal, 14px, 21px, #63718e);
            cursor: pointer;
            transition: color 0.2s ease-in-out;
        }
    }
    &__info {
        margin-top: 15px;
        &__list {
            height: 150px;
        }
        &__item {
            display: none;
            @include font(Open Sans, normal, normal, 16px, 24px, #63718e);
            visibility: hidden;
            opacity: 0;
            transition: all 0.2s ease-in-out;
        }
    }
}
