.promo {
    margin-top: 50px;
    &__title {
        @include font(Epilogue, normal, 700, 22px, 23px, #111563);
    }
    &__descript {
        margin-top: 20px;
        @include font(Open Sans, normal, 400, 18px, 27px, #63718e);
    }
    &__but {
        width: 300px;
        height: 53px;
        margin-top: 30px;
        background: #c774ee;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        @include font(Open Sans, normal, 700, 20px, 20px, #FFFFFF);
        text-decoration: none;
    }
    &__frame {
        margin-top: 40px;
    }
}
