.promo {
    margin: 50px 10px 0;
    &__text-box {
    }
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 23px;
        color: #111563;
    }
}
