@import "base/reset";
@import "base/fonts";
@import "utils/mixins";
@import "layout/header";
@import "layout/promo";
@import "layout/card";
@import "layout/calculator";
@import "layout/steps";
@import "layout/reviews";

.main-wrapper {
    background: #FFFFFF;
}

.container {
    width: 320px;
    margin: 0 auto;
}