@import "base/reset";
@import "base/fonts";
@import "utils/mixins";
@import "layout/header";
@import "layout/promo";
@import "layout/card";
@import "layout/calculator";
@import "layout/steps";
@import "layout/reviews";
@import "layout/pin";
@import "layout/headphones";
@import "layout/note";
@import "layout/faq";
@import "layout/footer";

.main-wrapper {
    background: #ffffff;
}

.container {
    width: 320px;
    margin: 0 auto;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.show {
    visibility: visible !important;
    transform: translateY(0) !important;
    opacity: 1 !important;
}

.block {
    display: block !important;
}

.transform-arrow {
    transform: rotate(540deg);
}
